<!DOCTYPE html>
<html>
    <head>
        <title>about page</title>
    </head>
        <body>
            <a href="{%  url 'home' %}"><h1>Home</h1></a>
            <h1>Some Information about the Django</h1><br>
            Django is a high-level Python web framework that encourages rapid development and clean, pragmatic design. Built by experienced developers, it takes care of much of the hassle of web development, so you can focus on writing your app without needing to reinvent the wheel. It's free and open source. Ridiculously fast.
        </body>
</html>