<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
</head>
<body>
    <a href="{%  url 'about' %}"><h1>More info about django</h1></a>
    <a href="{%  url 'contact' %}"><h1>Ipsum</h1></a>
    <h1>Lorem </h1><br>
    Lorem ipsum dolor sit amet . The graphic and typographic operators know this well, in reality all the professions dealing with the universe of communication have a stable relationship with these words, but what is it? Lorem ipsum is a dummy text without any sense.
    
</body>
</html>